%script(type="text/javascript" src="/javascript/main.js")
%script(type="text/javascript" src="/javascript/kinetic.js")
%script(type="text/javascript" src="/javascript/mapio.js")
%script(type="text/javascript" src="/javascript/mapview.js")
%script(type="text/javascript" src="/javascript/tileset.js")
%link(rel="stylesheet" href="/css/template_picker.css")
#menu
  %span
    %button(onclick="RAMAP.mapView.zoomIn();") [+]
    %button(onclick="RAMAP.mapView.zoomOut();") [-]
    %button(onclick="RAMAP.mapView.onDebug();") Debug
    %button(onclick="RAMAP.saveMap();") Save
    %button(onclick="RAMAP.toolPalette.setTool('hand');") Drag
    %button(onclick="RAMAP.toolPalette.setTool('cursor');") Info
    %span(id="download")
%span(id="picker_window")
  #scroll_pane
    #template_picker
      #height_1(class="height")
      #height_2(class="height")
      #height_3(class="height")
      #height_4(class="height")
%span(id="map_window")
