#drop_zone
  Drop it like it's hot
#menu
  %span
    %button(onclick="RAMAP.zoomIn();") [+]
    %button(onclick="RAMAP.zoomOut();") [-]
#uploadPreview

%canvas( id="canvas" width="900px" height="900px")
