%script(type="text/javascript" src="/javascript/zip.js")
%script(type="text/javascript" src="/javascript/inflate.js")
%script(type="text/javascript" src="/javascript/deflate.js")
%script(type="text/javascript" src="/javascript/main.js")
%script(type="text/javascript" src="/javascript/kinetic.js")
%script(type="text/javascript" src="/javascript/mapio.js")
%script(type="text/javascript" src="/javascript/mapview.js")
%script(type="text/javascript" src="/javascript/tileset.js")
%script(type="text/javascript" src="/javascript/rayaml-parser.js")
%script(type="text/javascript" src="/javascript/yaml_dumper.js")
%link(rel="stylesheet" href="/css/template_picker.css")
#menu
  #general_menu(style="width: 500px; float: left;")
    %button(onclick="$('#new_input').show(); $('#instructions').hide(); ") New
    %span(id="new_input")
      w:
      %input( id="new_width" maxlength="3" value="128")
      h:
      %input( id="new_height" maxlength="3" value="128")
      %button(onclick="$('#new_input').hide(); RAMAP.newMap();") Create 
    %button(onclick="RAMAP.saveMap();") Save
    %span(id="download_bin" class="download")
    %span(id="download_yaml" class="download")
    %span(id="instructions")
      Drop a map.bin & map.yaml file into the window or click new.

  #map_menu
    %button(onclick="RAMAP.setTileset('snow');") Snow
    %button(onclick="RAMAP.setTileset('temperat');") Temperate
    %button(onclick="RAMAP.mapView.onDebug();") Debug
    %button(onclick="$('#resources').css('display', 'inline');") Show Rsrc
    %button(onclick="$('#resources').css('display', 'none');") Hide Rsrc
    %button(onclick="RAMAP.toolPalette.setTool(0, 'cursor', 1);") Info
    %button(onclick="RAMAP.toolPalette.setTool(1, 'hand', 1);") Drag
    %button(onclick="RAMAP.mapView.zoomIn();") [+]
    %button(onclick="RAMAP.mapView.zoomOut();") [-]
#app
  %span
    #picker_window 
      #picker_menu
        %button(onclick="RAMAP.showTemplates();") Templates
        %button(onclick="RAMAP.showResources();") Resources
        %button(onclick="RAMAP.showActors();") Actors
      #scroll_pane
        #template_picker
          #height_1(class="height")
          #height_2(class="height")
          #height_3(class="height")
          #height_4(class="height")
          #height_5(class="height")
  %span(id="map_window")
