#drop_zone
  Drop it like it's hot
#menu
  %span
    %button(onclick="RAMAP.zoomIn();") [+]
    %button(onclick="RAMAP.zoomOut();") [-]
    %button(onclick="RAMAP.onDebug();") Debug
    %span(id="download")
%span(id="picker_window")
  %canvas( id="template_picker" width="300px" height="900px")
%span(id="map_window")  
  %canvas( id="canvas" width="900px" height="900px")
